<h2><%= t("auth.registrations.edit.title", resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email, t("auth.registrations.edit.email") %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("auth.registrations.edit.pending_confirmation", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <p><%= f.label :password, t("auth.registrations.edit.password") %> <i><%= t("auth.registrations.edit.password_hint") %></i></p>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
    <% if @minimum_password_length %>
      <p><em><%= t("auth.registrations.new.characters_minimum", count: @minimum_password_length) %></em></p>
    <% end %>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation, t("auth.registrations.edit.password_confirmation") %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :current_password, t("auth.registrations.edit.current_password") %> <i><%= t("auth.registrations.edit.current_password_hint") %></i></p>
    <p><%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions">
    <%= f.submit t("auth.registrations.edit.update") %>
  </div>
<% end %>

<h3><%= t("auth.registrations.edit.cancel_account") %></h3>

<div><%= t("auth.registrations.edit.unhappy") %> <%= button_to t("auth.registrations.edit.cancel_button"), registration_path(resource_name), data: { confirm: t("auth.registrations.edit.cancel_confirm"), turbo_confirm: t("auth.registrations.edit.cancel_confirm") }, method: :delete %></div>

<%= link_to t("auth.registrations.edit.back"), :back %>
